Reading and Writing CSV

In [3]:
import csv

# FP precision
%precision 2

'%.2f'

In [5]:
with open('data/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [6]:
mpg[:3]

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [7]:
len(mpg)

234

In [8]:
mpg[0].keys()

dict_keys(['', 'model', 'hwy', 'fl', 'cty', 'trans', 'drv', 'manufacturer', 'class', 'cyl', 'displ', 'year'])

Get average MPG for all cars in dict

In [9]:
sum(float(entry['cty']) for entry in mpg) / len(mpg)

16.86

In [10]:
sum(float(entry['hwy']) for entry in mpg) / len(mpg)

23.44

These are map/reduce operations in Python: map each entry to its cty or hwy mileage value, and reduce to a single value: the sum of these values

Group average city mileages by number of cylinders

In [19]:
cylinder_types = set(entry['cyl'] for entry in mpg)
cylinder_types

{'4', '5', '6', '8'}

In [ ]:
avg_cty_mpg_by_cyl = []

for cyl_type in cylinder_types:
    sum_mpg = 0
    cyl_type_count = 0
    
    for entry in mpg:
        if entry['cyl'] == cyl_type:
            sum_mpg += float(entry['cty'])
            cyl_type_count += 1
                  
    avg_cty_mpg_by_cyl.append((cyl_type, sum_mpg / cyl_type_count))

# Sort by number of cylinders ascending
avg_cty_mpg_by_cyl.sort(key=lambda avg_collection: avg_collection[0])    
avg_cty_mpg_by_cyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [40]:
# sort by avg mpg ascending
avg_cty_mpg_by_cyl.sort(key=lambda avg_collection: avg_collection[1])    
avg_cty_mpg_by_cyl

[('8', 12.57), ('6', 16.22), ('5', 20.50), ('4', 21.01)]

Group average city mileages by vehicle class

In [35]:
vehicle_classes = set(entry['class'] for entry in mpg)
vehicle_classes

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [41]:
avg_cty_mpg_by_class = []

for vehicle_class in vehicle_classes:
    sum_mpg = 0
    class_count = 0
    
    for entry in mpg:
        if entry['class'] == vehicle_class:
            sum_mpg += float(entry['cty'])
            class_count += 1
            
    avg_cty_mpg_by_class.append((vehicle_class, sum_mpg / class_count))

# Sort by cty mpg descending   
avg_cty_mpg_by_class.sort(key=lambda avg_collection: avg_collection[1], reverse=True)
avg_cty_mpg_by_class

[('subcompact', 20.37),
 ('compact', 20.13),
 ('midsize', 18.76),
 ('minivan', 15.82),
 ('2seater', 15.40),
 ('suv', 13.50),
 ('pickup', 13.00)]