Types and Sequences

Check Type

In [1]:
type('string')

str

In [2]:
type(None)

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
def add_numbers(a, b):
    return a + b
type(add_numbers)

function

Collection Types

Tuples

Immutable, ordered collections of items

In [6]:
x = (1, 'a', 2, 'b')
type(x)

tuple

Lists

Mutable, ordered collections

In [7]:
x = [1, 'a', 2, 'b']
type(x)

list

In [8]:
x.append(3)
print(x)

[1, 'a', 2, 'b', 3]

Iterate and index

In [9]:
for item in x:
    print(item)

1
a
2
b
3

In [10]:
x[3]

'b'

In [11]:
len(x)

5

Concatenation and repetition

In [12]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [14]:
[5] * 5

[5, 5, 5, 5, 5]

Membership checking

In [13]:
1 in (1, 2, 3)

True

In [14]:
4 in [1, 2, 3]

False

In [15]:
for i in range(1, 5):
    print(i)

1
2
3
4

Text operations

In [16]:
s = 'A string in Python is a list of characters'

In [18]:
s[2:8]

'string'

In [19]:
s[-30:-24]

'Python'

In [20]:
s[:18]

'A string in Python'

In [24]:
s[-23:]

'is a list of characters'

In [25]:
f_name = 'Guy'
l_name = 'Incognito'

In [26]:
f_name + ' ' + l_name

'Guy Incognito'

In [27]:
'cog' in l_name

True

In [31]:
full_name = 'Guy Incognito'
f_name = full_name.split(' ')[0]
l_name = full_name.split(' ')[1]

In [32]:
f_name

'Guy'

In [33]:
l_name

'Incognito'

Dictionaries

In [37]:
temp = {'Chicago': 67, 'Miami': 91, 'Anchorage': 46}

In [38]:
temp['Chicago']

67

In [39]:
temp['Chicago'] > temp['Anchorage']

True

In [40]:
temp['Los Angeles'] = 77

In [41]:
temp['Los Angeles']

77

In [42]:
for city in temp:
    print (temp[city])

77
91
46
67

In [44]:
for temperature in temp.values():
    print(temperature)

77
91
46
67

In [47]:
for city, temperature in temp.items():
    print(city, end=': ')
    print(temperature)

Los Angeles: 77
Miami: 91
Anchorage: 46
Chicago: 67

Unpacking

In [49]:
x = ('Incognito', 'Guy', 36)
l_name, f_name, age = x

In [54]:
f_name + ' ' + l_name + ' is ' + str(age) + ' years old.'

'Guy Incognito is 36 years old.'